 p { color : blue; font-size: large;}

 li { text-align: center; color:brown;}

 html {font-family: sans-serif; background-color: aqua; padding: 25px; }

 html {border: 5px dashed ;}

 .highlight_01 { 
	background: #3adc0d; 
}
